.description {
  margin: 0 150px 0 150px;

  &-wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 120px;
  }

  &__img {
    margin: 15px 0 0 30px;
  }

  &__greeting {
    margin-bottom: 40px;
    color: #21243d;
    font-size: 44px;
  }

  &__about {
    font-size: 16px;
    margin: 0 0 40px 0;
    color: #21243d;
    width: 500px;
  }

  &__about-wrapper {
    display: grid;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    margin-left: 20%;
  }

  &__download {
    color: white;
    background-color: #FF6464;
    width: 200px;
    height: 50px;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 500;
  }
}