.footer {
  &-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    margin-top: 150px;
  }

  &__copyright {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 14px;
    color: #21243D;
    margin-bottom: 50px;
  }
}